<div style="text-align:center">
    <h1>
        Welcome to Surf-Curve!
    </h1>
</div>
<div fxLayout="column" fxLayoutAlign="center" fxLayout.gt-sm="row" fxLayoutGap="20px" >
    <mat-card fxFlex="25">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon>multiline_chart</mat-icon>
            </div>
            <mat-card-title>Neues Spiel</mat-card-title>
            <mat-card-subtitle>(Multiplayer One-Screen)</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/mutliplayer_preview.jpeg" alt="multiplayer-preview">
        <mat-card-content>
            <p>
                Starte ein neues Multiplayer-Spiel - Du spielst auf diesem Computer gegen deine Mitstreiter.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="initGame()" mat-stroked-button color="primary">GO</button>
        </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="25">
        <mat-card-header>
            <div mat-card-avatar>
                <mat-icon>show_chart</mat-icon>
            </div>
            <mat-card-title>Neues Spiel</mat-card-title>
            <mat-card-subtitle>(Übungsmodus)</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/singleplayer_preview.jpeg" alt="singleplayer-preview">
        <mat-card-content>
            <p>
                Starte ein neues Singleplayer-Spiel
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="primary">GO</button>
        </mat-card-actions>
    </mat-card>

</div>